<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RDF Browser: Error</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: "Fira Sans", sans-serif;
        }
    </style>
</head>
<body>
<h1>RDF Browser: Error</h1>
<p>The RDF-document at <a id="url"></a> could not be displayed properly.</p>
<p>The reason is displayed below:</p>
<p id="message" style="font-family: monospace; margin-bottom: 25px;"></p>
<p id="sources" style="font-style: italic; margin-bottom: 30px;">Press Ctrl+U to view the page sources.</p>
<p>
    <button id="refresh" style="font-weight: bold;">Refresh page</button>
    <button id="report" style="font-weight: bold;">Report error</button>
</p>
<p id="status"></p>
<script defer="defer" id="script" src="../controller/error.js">
    //script
</script>
</body>
</html>
