<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title id="title"></title>
    <style>
        body {
            margin: 0 auto;
        }

        .prefixes {
            margin: 8px 0 2em 0;
        }

        .prefixes .prefixDeclaration, .prefixes .postfix {
            text-decoration: none;
        }

        .uri, .uri a, .prefixDeclaration {

        }

        .prefixName, .prefixName a {

        }

        .postfix, .postfix a, .literal a {

        }

        .blankNode {

        }

        .literal {

        }
    </style>
    <script id="script" src="../controller/style.js">
        //script
    </script>
    <script defer id="content-script" src="../main.js"></script>
</head>
<body id="template">
<p id="hint">
    RDF-Browser is parsing the document. This page will refresh automatically once the parsing is finished.
</p>
<p id="status"></p>
<div class="prefixes" id="prefixes">

</div>
<div class="triples" id="triples">

</div>
</body>
</html>
